$wcol: white;
$golcol: goldenrod;
$indcol: indigo;
$rcol: #c50d59;

body {
    background-image: url(space.jpeg);
    font-size: 14px;
    background-size: 99%;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    font-size: 20px;
    margin-top: 0;
    color: $wcol;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .sitename {
    font-size: 4em;
    margin-bottom: 0;
    text-align: center;
  }
  
  .maintext {
    font-size: 30px;
    padding: 3% 5% 3% 5%;
  }
  
  .example {
    text-align: center;
    flex: left;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 25px;
    margin-top: 3%;
  }
  
  .example1 {
    border: 2px dashed $golcol;
    padding: 20px 5px 80px 5px;
    margin: 5px 5px 5px 5px;
  }
  
  header {
    margin-top: 3%;
    margin-bottom: 3%;
  }
  
  h1, h2, h3, h4, h5, h6 {
    text-shadow: $rcol 1px 1px 0, $rcol 2px 2px 0, $rcol 3px 3px 0, $rcol 2px 2px 0,  $rcol 3px 3px 0;
  }
  
  li, ol, ul, a {
    color: $wcol;
  }
  
  .fone {
    background-color: rgba(139, 0, 139, 0.5);
    height: 94%;
  }
  
  .main {
    text-align: center;
    padding-bottom: 2%;
    font-size: 25px;
    margin-top: 3%;
  }
  
  #gt {
    left: 95%;
    top: 90%;
    position: fixed;
    z-index: 1000;
  }
  
  #tci {
     p {
    color: bisque;
    border: 1px dashed darkred;
  }
}
  
  a {
    color: tan;
  
    &:hover {
      color: turquoise;
    }
  
    &:visited {
      color: thistle;
    }
  }
  
  #brd {
    width: 100%;
    height: 0px;
    border: 2px dashed rgba(15, 113, 131, 0.5);
  }
  
  #b2 {
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(139, 0, 139, 0.5));
    background-color: $indcol;
    color: rgb(112, 157, 206);
  }
  
  @media (max-width: 800px) {
    h1, h2, h3, h4, h5, h6, p {
      margin-top: 0;
      color: $wcol;
      text-align: center;
      margin-left: 50px;
      margin-right: 50px;
    }
  
    .sitename {
      font-size: 2em;
      margin-bottom: 0;
      text-align: center;
    }
  }
  
  .image {
    height: 422px;
    width: 750px;
  }
  
  @media (max-width: 800px) {
    .image {
      height: 211px;
      width: 375px;
    }
  
    #gt {
      left: 85%;
      top: 90%;
      z-index: 1000;
    }
  }