body {
    background-image: url(space.jpeg);
    font-size: 14px;
    background-size: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: 25px;
    margin-top: 0;
    color: white;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
.sitename{
    font-size: 6em;
    margin-bottom: 0;
    text-align: center;
}
.maintext{
    font-size: 30px;
    padding: 3% 5% 3% 5%;
}
.example{
    text-align:center;
    justify-content:left;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 25px;
    margin-top: 3%;
}
#aim{
    margin-bottom:2%;
    font-size: 18px;
}
.example1{
    border: 2px dashed goldenrod;
    padding: 20px 5px 80px 5px;
    margin: 5px 5px 5px 5px;
}
.galery {
    border: 2px dashed goldenrod;
    margin: 5px 5px 5px 5px;
    display: table;

    width: 98%;
}
.mission{
    padding: 3% 5% 3% 5%;
    margin: 5px 5px 5px 5px;
}
.mission p{
    text-indent: 25px;
}

.galery p {
    text-indent: 0;
}
#profile{
    border: 2px dashed goldenrod;
    height:401px;
    width:501px;
    float: left;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
}
#profilesq{
    border: 2px dashed goldenrod;
    height:501px;
    width:501px;
    float: left;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
}
#imag{
    width: 500px;
    height: 400px;
}
#imagsq{
    width: 500px;
    height: 500px;
}
header{
    margin-top: 3%;
    margin-bottom: 3%;
}
h1, h2, h3, h4, h5, h6 {
    text-shadow: 
    #c50d59 1px 1px 0, #c50d59 2px 2px 0, 
    #c50d59 3px 3px 0, #c50d59 2px 2px 0, 
    #c50d59 3px 3px 0;
}
li, ol, ul, a{
    color: white;
}
.fone {
    background-color: rgba(139, 0, 139, 0.5);
    height: 94%;
    max-width: 100%;
}
.main {
    text-align:center;
    padding-bottom: 2%;
    font-size: 25px;
    margin-top: 3%;
}
#gt {
    left: 95%;
    top: 90%;
    position: fixed;
    z-index: 1000;
}
#tci p{
    color:bisque;
    border: 1px dashed darkred;
}
a {
    color:tan;
}
a:hover {
    color:turquoise;
}
a:visited {
    color:thistle;
}
#brd {
    width: 100%;
    height:0px;
    border:2px dashed rgba(15, 113, 131, 0.5);
}
#b2{
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(139, 0, 139, 0.5));
    background-color: indigo;
    color: rgb(112, 157, 206);
}

figure {
    padding: 3%; /* Поля вокруг */
    display: block; /* Блочный элемент */
    width: 25%; /* Ширина */
    float: left;  /*Блоки выстраиваются по горизонтали */
    margin: 5% 5% 5% 5%; /* Отступы */
    text-align: center; /* Выравнивание по центру */
    position: relative;
   }
   figcaption {
    color: rgb(233, 237, 10); /* Цвет текста */
   }

.one{
    width: 500px; 
    height: 340px;
}

.march{
    align-content: center;
    width: 1200px;
    height: 500px;
}

.image{
    height: 422px ;
    width: 750px;
}

img {
    transition: 1s; /* Время эффекта */
   }
   img:hover {
    transform: scale(1.4); /* Увеличиваем масштаб */
   }

@media screen and (max-width:3200px) {
   
    #gt{ left: 93%;
    top: 88%;
    z-index: 1000;
}
        .st{
            width: 500px;
            height: 340px;
        }
        .ht{
            width: 320px;
            height: 500px;
        }
        .ht1{
        width: 550px;
        height : 360px;
    }
    .ven1{
        height: 200px;
        width: 500px;
    }
    .ven{
        width: 520px;
         height: 400px;
    }
    .sqp{
        width:500px;
         height: 500px;
    }
    .m1{
        width: 560px;
         height: 300px;
    }
    .rt{
        width: 420px;
        height: 500px;
    }
    .chn{
        width: 900px;
        height: 360px;
    }
   .chn1{ width: 500px;
     height: 300px;
   }
  }

@media screen and (max-width:1500px) {
    .sitename{
        font-size: 6em;
        margin-bottom: 0;
        text-align: center;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 3em;
        margin-top: 0;
        color: white;
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
    }
    p {
        margin-top: 0;
        font-size:35px;
        color: white;
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
    }
    #profile{
        border: 2px dashed goldenrod;
        height:401px;
        width:501px;
        margin-left: 16%;
        margin-right: 16%;
        margin-bottom: 3%;
    }
    #imag{
        width: 500px;
        height: 400px;
    }
    #profilesq{
        border: 2px dashed goldenrod;
        height:501px;
        width:501px;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 3%;
    }
    #imagsq{
        width: 500px;
        height: 500px;
    }
   
    .march{
        width: 700px;
        height: 300px;
    margin: 10px auto 20px;
    display: block;
    }
    .one{
        width: 500px; 
        height: 340px;
    }
    
figure {
    padding: 3%; /* Поля вокруг */
    display: block; /* Блочный элемент */
    width: 80%; /* Ширина */
    float: left;  /*Блоки выстраиваются по горизонтали */
    margin: 5% 5% 5% 5%; /* Отступы */
    text-align: center; /* Выравнивание по центру */
    position: relative;
   }
   figcaption {
    color: rgb(233, 237, 10); /* Цвет текста */
   }

   .image{
    height: 422px ;
    width: 750px;
}
#gt{
        left: 85%;
        top: 85%;
        z-index: 1000;
}
li{
    font-size: 1.5em;
}
ul{
    font-size: 2em;
}
.ht{
    width: 420px;
    height: 600px;
}
#aim ul{
    color: yellow;
}
.chn{
    width: 700px;
    height: 340px;
}
  }



  @media screen and (max-width:760px) {
    p {
        font-size: 35px;
    }
    #gt{ left: 85%;
    top: 80%;
    z-index: 1000;
}
    .st{
        width: 60px;
        height: 440px;
    }
    #profile{
        border: 2px dashed goldenrod;
        height:351px;
        width:401px;
        margin-left: 16%;
        margin-right: 3%;
        margin-bottom: 3%;
    }
    #imag{
        width: 400px;
        height: 350px;
    }
    #profilesq{
        border: 2px dashed goldenrod;
        height:401px;
        width:401px;
        margin-left: 20%;
        margin-right: 16%;
        margin-bottom: 3%;
    }
    #imagsq{
        width: 400px;
        height: 400px;
    }
    li{
        font-size: 1.8em;
    }
    ul {
        font-size:2.2em;
    }
    .chn{
        width: 300px;
        height: 120px;
    }
    .chn1{ width: 250px;
        height: 150px;
      }
  }


  @media screen and (max-width:600px) {
   
    #gt{ left: 85%;
    top: 94%;
    z-index: 1000;
}
    .ht{
        width: 80%;
        height: auto;
    }
  }


  @media screen and (max-width:460px) {
   
    #gt{ left: 85%;
    bottom: 15%;
    z-index: 1000;
}
  }



 